
<div mat-dialog-content>

    <form [formGroup]="AddCategoryForm">
       <h2>Add New Category</h2>
      
       <mat-form-field appearance="outline">
           <mat-label>Category Name</mat-label>
           <input formControlName ="name" matInput>
         </mat-form-field>
         <br>
        
       </form>
   </div>
   <div mat-dialog-action class="text-center">
     <button mat-raised-button id="cancel" color="warn" mat-dialog-close style="margin-left :5%px;">Close</button>
     <button style="margin-left :5%px; background-color: rgb(39, 128, 65); color:white" mat-raised-button  (click)="saveProduct()" >Save</button>
   </div>
   