table{
   width:900px;
  // text-align: center;
}
th{
   // width: 10%;
    height: 70px;
  //  text-align: center;
    vertical-align: middle;
}
td{
    width: 10%;
    height: 70px;
   // text-align: center;
    vertical-align: middle;
}
.img{
    width: 80px;
    height: 60px;
}
label{
    padding: 1%;
}
.dividerstyle{
    font-size: 32;
    color: gray;
}

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }