
       <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse sidenav"  >
       
        <h1 class="mt-3 mb-3">DashBoard</h1>
       
        <mat-divider></mat-divider>
        <div  >

        <button mat-button class="menu-button" routerLink="/Home" routerLinkActive="Active">
            <mat-icon>dashboard</mat-icon>
            <span>Home</span>
        </button>
        <button mat-button class="menu-button" routerLink="/Category" routerLinkActive="Active">
            <mat-icon>apps</mat-icon>
            <span>Category</span>
        </button>
        <button mat-button class="menu-button" routerLink="/Product" routerLinkActive="Active">
            <mat-icon>shop</mat-icon>
            <span>Product</span>
        </button>
       
        <mat-divider></mat-divider>
    </div>       
       </nav>  