table{
    width: 900px;
 }
th{
    width: 10%;
    height: 70px;
    text-align: center;
}
td{
    width: 10%;
    height: 70px;
    text-align: center;
    vertical-align: middle;
}
.dividerstyle{
  font-size: large;
    color: black;
}